<!DOCTYPE html>
<html lang="en">
<head th:fragment="dashboardHead">
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/estilos2.css">
</head>
<body th:fragment="dashboardBody">


<div class="sidebar">

    <div class="list-group mt-4">

        <h5 class="text-center">Bienvenido Admin</h5>

        <img src="/img/mau.png" alt="Logo">


        <a th:href="@{/maintenanceProducts/start}" class="list-group-item list-group-item-action">
            Gestión de Productos
        </a>
        <br>
        <a th:href="@{/maintenanceVenta/start}" class="list-group-item list-group-item-action">
            Gestión de Ventas
        </a>
        <br>
        <a th:href="@{/maintenanceUsers/start}" class="list-group-item list-group-item-action">
            Gestión de Usuarios
        </a>
        <br>
        <a th:href="@{/maintenance/start}" class="list-group-item list-group-item-action">
            Gestión de Categorías
        </a>

        <!--Form para oton logout-->
        <form th:action="@{/manage/logout}" method="post">
            <!--Boton logout-->
            <br>
            <br>
            <button type="submit" class="btn btn-danger">Cerrar la sesion</button>
        </form>

    </div>
</div>


</body>
</html>