<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autenticación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" th:href="@{/estilos1.css}">-->

</head>
<body>
<div class="login-container">
    <!-- Left Panel -->
    <div class="left-panel text-center">
        <!--

        <img src="img/LogoSPS.png" alt="logo">-->
        <h1>Autenticación</h1>


      <!--  test -->

    </div>

    <!-- mensaje de error en caso falle el login -->
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Usuario o contraseña incorrectos.
    </div>

    <!-- si el usuario ha cerrado sesison exitosamente -->
    <div class="alert alert-warming" role="alert" th:if="${param.logout}">
        Usted ha cerrado sesión correctamente
    </div>



    <div class="right-panel">
        <form th:action="@{/manage/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Correo:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-custom">Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>