<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Venta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos2.css">
</head>
<body class="styleBody">

<div th:replace="~{fragments/dashboard :: dashboardBody}"></div>

<div class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <h1 class="text-center">Detalles de la Venta</h1>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información de la Venta:</h5>
                    <p><strong>ID: </strong><span th:text="${venta.idVenta}"></span></p>
                    <p><strong>Cliente: </strong> <span th:text="${venta.nombreCliente() + ' ' + venta.apellidoCliente()}"></span></p>
                    <p><strong>Cantidad: </strong> <span th:text="${venta.cantidadProducto}"></span></p>
                    <p><strong>Monto Total: </strong> <span th:text="${venta.montoTotal}"></span></p>
                    <p><strong>Contacto: </strong> <span th:text="${venta.contacto}"></span></p>
                    <p><strong>Distrito: </strong> <span th:text="${venta.nombreDistrito()}"></span></p>
                    <p><strong>Teléfono: </strong> <span th:text="${venta.telefono}"></span></p>
                    <p><strong>Dirección: </strong> <span th:text="${venta.direccion}"></span></p>
                    <p><strong>ID Transacción: </strong> <span th:text="${venta.idTransaccion()}"></span></p>
                    <p><strong>Fecha Venta </strong> <span
                            th:text="${#dates.format(venta.fechaVenta, 'dd/MM/yyyy')}"></span></p>
                </div>
            </div>


            <div class="mt-4">
                <a href="#" th:href="@{/maintenanceVenta/start}" class="btn btn-primary">Volver al listado de ventas</a>
            </div>

        </div>
    </div>
</div>
</body>
</html>
